@import "variables";

body {
    @include font;
    &.dark {
        .countries-app {
            header {
                &.themeHeader {
                    background-color: $dark-blue;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
                    .themeLogoTx {
                        color: $white;
                    }
                    .themeSwitcher {
                        color: $white;
                    }
                }
            }
            .themeHome {
                main {
                    &.themeMain {
                        background-color: $very-dark-blue-bg;
                        .themeFilter {
                            .themeSearch {
                                background-color: $dark-blue;
                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                color: $white;
                            }
                            .themeRegionFilter {
                                select {
                                    background-color: $dark-blue;
                                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                    color: $white;
                                }
                            }
                        }
                        .themeList {
                            .themeListItem {
                                .themeListContent {
                                    background-color: $dark-blue;
                                    .country-name {
                                        color: $white;
                                    }
                                    .country-population {
                                        span {
                                            color: $white;
                                        }
                                        p {
                                            color: $white;
                                        }
                                    }
                                    .country-region {
                                        span {
                                            color: $white;
                                        }
                                        p {
                                            color: $white;
                                        }
                                    }
                                    .country-capital {
                                        span {
                                            color: $white;
                                        }
                                        p {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                            .pagination {
                                li {
                                    a {
                                        color: $white;
                                        border-radius: 5px;
                                        -webkit-transition: background-color 0.3s;
                                        transition: background-color 0.3s;
                                        &:hover {
                                            background-color: $dark-blue;
                                            color: $white;
                                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                        }
                                    }
                                    &.active {
                                        a {
                                            background-color: $dark-blue;
                                            color: $white;
                                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                        }
                                    }
                                    &.pagination-button {
                                        a  {
                                            padding-top: 0.5rem;
                                            padding-bottom: 0.5rem;
                                            padding-left: 0.75rem;
                                            padding-right: 0.75rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .themeDetail {
                background-color: $very-dark-blue-bg;
                main  {
                    &.themeMain {
                        .themeDetail {
                            .container {
                                .detail-header {
                                    margin-top: 50px;
                                    margin-bottom: 82px;
                                    .back-button {
                                        background-color: $dark-blue;
                                        color: $white;
                                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                    }
                                }
                                .detail-content {
                                    gap:80px;
                                    .detail-content-picture {
                                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                    }
                                    .detail-content-description {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.light {
        .countries-app {
            header {
                &.themeHeader {
                    background-color: $white;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
                    .themeLogoTx {
                        color: $very-dark-blue-tx;
                    }
                    .themeSwitcher {
                        color: $very-dark-blue-tx;
                    }
                }
            }
            .themeHome {
                main {
                    &.themeMain {
                        background-color: $very-light-gray;
                        .themeFilter {
                            .themeSearch {
                                background-color: $white;
                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                color: $very-dark-blue-tx;
                            }
                            .themeRegionFilter {
                                select {
                                    background-color: $white;
                                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                    color: $very-dark-blue-tx;
                                }
                            }
                        }
                        .themeList {
                            .themeListItem {
                                .themeListContent {
                                    background-color: $white;
                                    .country-name {
                                        color: $very-dark-blue-tx;
                                    }
                                    .country-population {
                                        span {
                                            color: $very-dark-blue-tx;
                                        }
                                        p {
                                            color: $very-dark-blue-tx;
                                        }
                                    }
                                    .country-region {
                                        span {
                                            color: $very-dark-blue-tx;
                                        }
                                        p {
                                            color: $very-dark-blue-tx;
                                        }
                                    }
                                    .country-capital {
                                        span {
                                            color: $very-dark-blue-tx;
                                        }
                                        p {
                                            color: $very-dark-blue-tx;
                                        }
                                    }
                                }
                            }
                            .pagination {
                                li {
                                    a {
                                        color: $very-dark-blue-tx;
                                        border-radius: 5px;
                                        -webkit-transition: background-color 0.3s;
                                        transition: background-color 0.3s;
                                        &:hover {
                                            background-color: $white;
                                            color: $very-dark-blue-tx;
                                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                        }
                                    }
                                    &.active {
                                        a {
                                            background-color: $white;
                                            color: $very-dark-blue-tx;
                                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                        }
                                    }
                                    &.pagination-button {
                                        a  {
                                            padding-top: 0.5rem;
                                            padding-bottom: 0.5rem;
                                            padding-left: 0.75rem;
                                            padding-right: 0.75rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .themeDetail {
                background-color: $very-light-gray;
                main  {
                    &.themeMain {
                        .themeDetail {
                            .container {
                                .detail-header {
                                    margin-top: 50px;
                                    margin-bottom: 82px;
                                    .back-button {
                                        background-color: $white;
                                        color: $very-dark-blue-tx;
                                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                    }
                                }
                                .detail-content {
                                    gap:80px;
                                    .detail-content-picture {
                                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                    }
                                    .detail-content-description {
                                        color: $very-dark-blue-tx;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}